/* Launch Configuration/Auto Scaling Groups filter box */
#gwt-debug-searchTextBox, #gwt-debug-resourceFilterBox {
  min-width: 350px;
}

/* Launch configuration user data text box. "userdata-container", "system-log-title", and "system-log-body" is dynamically added by ec2.js */
.userdata-container {
  margin-left: 0 !important;
}
.userdata-container textarea {
  width: 600px !important;
  min-height: 400px !important;
  resize: vertical;
  font-family: monospace !important;
  white-space: pre;
}

/* EC2 system log */
.system-log-title {
  font-size: 100% !important;
}
.system-log-modal pre, .system-log-modal #gwt-debug-dialogLoadingSection {
  font-family: "Courier New" !important;
  width: 900px !important;
  height: 650px !important;
}

/* EBS popup window in the EC2 console wraps the attachment timestamp */
#gwt-debug-instancesDetailsPopup #gwt-debug-tabularDetails {
  white-space: nowrap !important;
}

/* AutoScaling group creation wizard */
#gwt_debug_as_subnet_box_chzn .chzn-choices,
#gwt_debug_as_subnet_box_chzn .chzn-drop,
#gwt_debug_as_availability_zone_box_chzn .chzn-choices,
#gwt_debug_as_network_box_chzn .chzn-drop {
  min-width: 600px !important;
}
